<div class="review-card">
    <div class="profile-image-container">
        <img src="./../../.././../assets/img/user.jpg" alt="User Image">
    </div>
    <div class="text-details">
        <div class="header">
            <div class="title">
                <h4>John Doe &nbsp;</h4>
                <p> - 01 Jan 2045</p>
            </div>
            <div>
                <app-product-rating [rating]="1"></app-product-rating>
            </div>
        </div>
        <div class="body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, error nesciunt voluptatem repellendus doloremque praesentium doloribus laborum mollitia quibusdam iste placeat ipsam eaque quam ut asperiores eveniet odit quis reiciendis.</p>
        </div>
    </div>
</div>