<div class="review-card">
    <div class="profile-image-container">
        @if (reviewModel.userProfile) {
            <img [src]="reviewModel.userProfile" alt="User Image">
        }@else {
            <span>{{getFirstLetter(reviewModel.userName)}}</span>
        }
    </div>
    <div class="text-details">
        <div class="header">
            <div class="title">
                <h4>{{reviewModel.userName}} &nbsp;</h4>
                <p> - {{reviewModel.date}}</p>
            </div>
            <div>
                <app-product-rating [rating]="reviewModel.rating" [noReviews]="reviewModel.rating"></app-product-rating>
            </div>
        </div>
        <div class="body">
            <p>{{reviewModel.review}}</p>
        </div>
    </div>
</div>