$light-font-color:#6C757D;
$dark-font-color:#3D464D;
$yellow:#FFD333; 

header{
    width: 100%;
    font-family: sans-serif;
    position: relative;
    
    .upper-header{
        width: 100%;
        height: 60px;
        padding-inline: 3rem;
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
        border: 1px solid #ced4da;
    }

    .lower-header{
        width: 100%;
        height: 60px;
        padding-inline: 3rem;
        display: grid;
        grid-template-columns: 250px 1fr 100px;
        background-color: #3d464d;
        color: #fff;
    }

    .header-2{
        width: 100%;
        height: 70px;
        padding-inline: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;
        background-color: $dark-font-color;
        position: relative;

        .logo-container{
            color: #fff;

            h1{
                cursor: pointer;
            }
        }

        .freatures-container{
            .cart-container{
                height: 100%;
                padding-right: 4px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i{
                    font-size: 24px;
                }
            }
        }

        .bars{
            button{
                padding: 4px 10px;
                font-size: 24px;
                color: $light-font-color;
                background-color: $dark-font-color;
                border: 1px solid $light-font-color;
            }
        }

        .drop-down{
           position: absolute;       
        }

        .search{
            .search-btn{
                font-size: 22px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: transparent;
                padding: 0px 12px;
                color: $yellow;
            }
        }
    }
}

.account-menu{
    height: 100%;
    position: relative;

    .header{
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width: 27px;
            height: 27px;
            color: $yellow;
            border: 1px solid $yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 12px;
            background-color: transparent;
            cursor: pointer;
        }
    }

    .body{
        display: none;
        position: absolute;
        right: 0;
        min-width: 120px;
        background-color: #fff;
        z-index: 2;

        &.active{
            display: block;
        }

        button{
            display: block;
            width: 100%;
            padding: 8px 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: transparent;
            outline: none;
            border: none;
            color: #666;
            text-align: left;
            white-space: nowrap;

            &:hover{
                background-color: #efeeef;
            }
        }
    }
}

.logo-container,.search-container,.other-details-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container{
    justify-content: flex-start;

    h1{
        cursor: pointer;
    }
}

.search-container{
    justify-content: center;
}

.search-box{
    height: 35px;
    max-width: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 35px;


    input{
        width: 100%;
        padding: 5px;
        border: 1px solid #ced4da;
        color: $light-font-color;
        outline: none;
        font-size: 16px;
        font-weight: 500;
    }

    button{
        width: 100%;
        padding: 5px;
        border: 1px solid #ced4da;
        border-left: none;
        color: $yellow;
        font-size: 16px;
        font-weight: 500;
        background-color: #fff;
        cursor: pointer;
    }
}

.other-details-container{
    justify-content: flex-end;

    p{
        text-align: right;
        font-size: 15px;
        color: #6C757D;
        font-weight: 500;
        margin-bottom: 4px;
    }
    h4{
        font-size: 17px;
        color: #3D464D;
        font-weight: 600;
    }
}

.category-container,.nav-container, .freatures-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.category-container{
    justify-content: space-between;
    background-color: $yellow;
    padding-inline: 20px;
    color: $dark-font-color;
    position: relative;

    .bars{
        display: inline-block;
        margin-right: 10px;
    }
}

.drop-down{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;
    z-index: 10;
    ul{
        list-style: none;
        li{
            a{
                width: 100%;
                display: inline-block;
                padding: 10px 20px;
                text-decoration: none;
                color: $light-font-color;
            }

            a:hover{
                color: $dark-font-color;
                background-color: #ced4da;
            }
        }
    }

}

.category-container:hover{
    cursor: pointer;
}

.nav-container{
    justify-content: flex-start;
    margin-left: 10px;
    padding-left:20px;

    ul{
        display: flex;

        li{
            list-style: none;

            a{
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                color: #fff;
            }

            a:hover,a.active{
                color: $yellow;
            }
        }
    }
}

.freatures-container{
    justify-content: flex-end;

    .cart-container{
        color: $yellow;
        cursor: pointer;
    }

    .cart-no{
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-left: 5px;
    }
}


@media screen and (max-width:1024px) {
    header{
        width: 100%;

        .upper-header{
            padding-inline: 20px;
        }

        .lower-header{
            padding-inline: 20px;
            grid-template-columns: 200px 1fr 100px;
        }
    }
}

@media screen and (max-width:768px) {
    header{
        .upper-header{
            display: none;
        }

        .lower-header{
            display: none;
        }

        .header-2{
            display: flex;
            border: 1px solid #ccc;
        }
    }
}

.header-search-sm-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
    overflow: hidden;
    
    .search-box{
        max-width: calc(100%);

        input{
            padding-inline: 10px;
        }
    }

}