<div class="form-container">
    <form [formGroup]="reviewForm">
        
        <div class="field rating-field">
            <div>
                <label>Your Rating</label>:<app-rating-input (onChangeEmt)="onRatingChange($event)"></app-rating-input>
            </div>
        </div>
        
        <div class="field">
            <label for="review">Your Review</label>
            <textarea id="review" cols="30" rows="5" formControlName="review"></textarea>
        </div>
    
        <button class="review-btn" (click)="onSubmit()" [disabled]="isSavingReview">Leave Your Review</button>
    </form>
</div>