<app-slider></app-slider>

<div class="list featured-list" style="margin-bottom: 20px;">
    <app-freatur-card></app-freatur-card>
    <app-freatur-card></app-freatur-card>
    <app-freatur-card></app-freatur-card>
    <app-freatur-card></app-freatur-card>
</div>

<app-section title="Categories">
    <div class="list">
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
    </div>
</app-section>

<app-section title="Featured products">
    <div class="list">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
</app-section>

<app-section title="Recent products">
    <div class="list">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
</app-section>

<app-section title="Brands">
    <app-image-card-slider></app-image-card-slider>
</app-section>