<app-slider></app-slider>

<div class="list featured-list" style="margin-bottom: 20px;">
    <app-freatur-card></app-freatur-card>
    <app-freatur-card></app-freatur-card>
    <app-freatur-card></app-freatur-card>
    <app-freatur-card></app-freatur-card>
</div>

<app-section title="Categories">
    <div class="list">
        @for (category of categoryList; track category._id) {
            <app-category-card [image]="category.image" [name]="category.name" [noProducts]="category.noProducts"></app-category-card>
        }
    </div>
</app-section>

<app-section title="Featured products">
    <div class="list">
        @for (product of productList; track product._id) {
            <app-product-card [productDetails]="product" (addToCartEmt)="addToCart($event)"></app-product-card>
        }
    </div>
</app-section>

<app-section title="Recent products">
    <div class="list">
        @for (product of productList; track product._id) {
            <app-product-card [productDetails]="product" (addToCartEmt)="addToCart($event)"></app-product-card>
        }
    </div>
</app-section>

<app-section title="Brands">
    <app-image-card-slider></app-image-card-slider>
</app-section>