<app-header></app-header>
<main>
    <app-slider></app-slider>

    <app-section title="-">
        <div class="list">
            <app-freatur-card></app-freatur-card>
            <app-freatur-card></app-freatur-card>
            <app-freatur-card></app-freatur-card>
            <app-freatur-card></app-freatur-card>
        </div>
    </app-section>

    <app-section title="Categories">
        <div class="list">
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
        </div>
    </app-section>
    <app-section title="Featured products">
        <div class="list">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
    </app-section>

    <app-section title="Recent products">
        <div class="list">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
    </app-section>

</main>
<app-footer></app-footer>