$light-font-color:#6C757D;
$dark-font-color:#3D464D;
$yellow:#FFD333; 

.filter-row{
    width: 100%;
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: 5px;
    margin: 10px 0;
    font-size: 18px;
    color: $light-font-color;
    cursor: pointer;

    .text-details{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text{
            font-weight: 500;
            color: $light-font-color;
            padding-left: 10px;
        }

        .number{
            font-size: 16px;
            font-weight: 400;
            padding: 5px 10px;
            border: 1px solid #ccc;
        }
    }
    
    .check-box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-box{
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active{
                background-color: $yellow;
                color: #fff;
            }
        }
    }
}