$light-font-color:#6C757D;
$dark-font-color:#3D464D;
$yellow:#FFD333; 

.shipping-form-container{
    width: 100%;
    padding: 30px;
    background-color: #fff;

    h1{
        color: $dark-font-color;
        margin-bottom: 30px;
    }
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .col{
        width: calc(50% - 15px);

        .label-box{
            font-size: 18px;
            color: $light-font-color;
            margin-bottom: 5px;
        }

        .input-box{
            width: 100%;
            
            input{
                width: 100%;
                padding: 8px 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                outline: none;
                color: #444;
            }
        }

    }
}

.actions{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn{
        padding: 10px 15px;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;

        &.submit{
            background-color: $yellow;
            color: $dark-font-color;
        }
    }
}

@media screen and (max-width:750px) {
    .row{
        flex-direction: column;

        .col{
            width: 100%;

            &:first-child{
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .shipping-form-container{
        padding: 20px;
    }

    .row .col .label-box{
        font-size: 16px;
    }

    .actions{
        margin-top: 20px;
    }
}