<app-breadcrumb [urlArrays]="[{title:'home', url:'/'}, {title:'shop', url:'/'}]" [activeUrlTitle]="'Shoping cart'"></app-breadcrumb>
<div class="cart-container">
    <div class="product-list">
        <table width="100%">
            <thead>
                <tr>
                    <th width="30%">Products</th>
                    <th width="15%">Price</th>
                    <th width="20%">Quantity</th>
                    <th width="15%">Total</th>
                    <th width="20%">Remove</th>
                </tr>
            </thead>
            <tbody>

                @for (product of cartProducts; track product.productId) {
                    <tr>
                        <td>
                            <div class="table-image">
                                <img [src]="product.Image" alt="product image"> {{product.Name}}
                            </div>
                        </td>
                        <td>₹{{product.price}}</td>
                        <td>
                            <div class="center">
                                <app-incr-decr-button (decrementEmt)="onDecrement(product.productId)" (incrementEmt)="onIncrement(product.productId)" [count]="product.count"></app-incr-decr-button>
                            </div>
                        </td>
                        <td>₹{{product.price * product.count}}</td>
                        <td>
                            <button class="cancel-btn" (click)="onRemove(product.productId)"><i class="fa-solid fa-xmark"></i></button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    <div class="actions-cards">
        <div class="apply-coupon-card">
            <div class="input-container">
                <input type="text">
            </div>
            <div class="button-container">
                <button>Apply Coupon</button>
            </div>
        </div>
        <div class="cart-summary-card">
            <h3>CART SUMMARY</h3>
            <div class="card">
                @for (product of cartProducts; track product.productId) {
                    <div class="row">
                        <div class="title">Subtotal</div>
                        <div class="value">₹ {{getProductPrice(product.price, product.count)}}</div>
                    </div>
                }

                <div class="divider"></div>

                <div class="row main">
                    <div class="title">Total</div>
                    <div class="value">₹ {{getProductTotal(cartProducts)}}</div>
                </div>

                <button class="procced-btn" (click)="proccedToCheckout()">Procced To Checkout</button>
            </div>
        </div>
    </div>

</div>