<div class="rating-input-container">
    <button class="rating-btn" (click)="setRating(1)"> 
        @if (rating >= 1) {
            <i class="fa-solid fa-star"></i>  
        }@else {
            <i class="fa-regular fa-star"></i>
        } 
    </button>
    <button class="rating-btn" (click)="setRating(2)"> 
        @if (rating >= 2) {
            <i class="fa-solid fa-star"></i>  
        }@else {
            <i class="fa-regular fa-star"></i>
        } 
    </button>
    <button class="rating-btn" (click)="setRating(3)"> 
        @if (rating >= 3) {
            <i class="fa-solid fa-star"></i>  
        }@else {
            <i class="fa-regular fa-star"></i>
        } 
    </button>
    <button class="rating-btn" (click)="setRating(4)"> 
        @if (rating >= 4) {
            <i class="fa-solid fa-star"></i>  
        }@else {
            <i class="fa-regular fa-star"></i>
        } 
    </button>
    <button class="rating-btn" (click)="setRating(5)"> 
        @if (rating >= 5) {
            <i class="fa-solid fa-star"></i>  
        }@else {
            <i class="fa-regular fa-star"></i>
        } 
    </button>
</div>