<div class="slider-container">
    <div class="slide-list" #slider [style.transform]="'translateX(' + translateValue + 'px)'">
        <div class="slide">
            <img src="./../../../../assets/img/vendor-1.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-2.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-3.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-4.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-5.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-1.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-5.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-1.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-5.jpg" alt="vendor" draggable="false">
        </div>
        <div class="slide">
            <img src="./../../../../assets/img/vendor-1.jpg" alt="vendor" draggable="false">
        </div>
    </div>
</div>