<!-- <app-stepper [steps]="steps"></app-stepper> -->

<div class="section-container">
    <div class="form-section">
        <app-section title="Shipping Address">
            <app-shipping-address-form></app-shipping-address-form>
        </app-section>
    </div>


    <div class="action-section">
        <app-section title="ORDER TOTAL">
            <div class="card">
                <div class="row">
                    <div class="title">Products</div>
                    <div class="value"></div>
                </div>

                <!-- Product list -->

                <div class="row product">
                    <div class="product">
                        <div class="image-box">
                            <img src="./../../../../assets/img/product-1.jpg" alt="Product Image">
                        </div>
                        <div class="text-details">
                            <div class="other-details">
                                <a href="#">Product-1</a> 
                            </div>
                            <div class="price">
                                $75
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product">
                    <div class="product">
                        <div class="image-box">
                            <img src="./../../../../assets/img/product-1.jpg" alt="Product Image">
                        </div>
                        <div class="text-details">
                            <div class="other-details">
                                <a href="#">Product-2</a> 
                            </div>
                            <div class="price">
                                $75
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Product list  end-->
                <div class="row">
                    <div class="title">Subtotal</div>
                    <div class="value">$150</div>
                </div>
                <div class="row">
                    <div class="title">Shipping</div>
                    <div class="value">$10</div>
                </div>

                <div class="divider"></div>

                <div class="row main">
                    <div class="title">Total</div>
                    <div class="value">$160</div>
                </div>
            </div>
        </app-section>

        <app-section title="PAYMENT">
            <div class="card">
                <div class="row">
                    <div class="title">Subtotal</div>
                    <div class="value">$150</div>
                </div>
                <div class="row">
                    <div class="title">Shipping</div>
                    <div class="value">$10</div>
                </div>

                <div class="divider"></div>

                <div class="row main">
                    <div class="title">Total</div>
                    <div class="value">$160</div>
                </div>

                <button class="procced-btn">Procced To Payment</button>
            </div>
        </app-section>
    </div>
</div>