<footer>
    <div class="Contact-container">
        <h5>GET IN TOUCH</h5>

        <p>No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>

        <div class="other-deails-list">
            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-location-dot"></i></div>
                <div class="item-details">Agra Uttar Pradesh</div>
            </div>

            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-envelope"></i></div>
                <div class="item-details">admin&#64;example.com</div>
            </div>

            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-mobile-screen"></i></div>
                <div class="item-details">+91 12345 56789</div>
            </div>
        </div>
    </div>
    <div class="Quick-links-container">
        <div class="container">
            <h5>QUICK LINKS</h5>
            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="item-details"><a href="/">Home</a></div>
            </div>
            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="item-details"><a href="/">Shop</a></div>
            </div>
            <!-- <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="item-details"><a href="/">Shop Details</a></div>
            </div> -->
            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="item-details"><a href="/">Cart</a></div>
            </div>
            <div class="list-item">
                <div class="item-icon"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="item-details"><a routerLink="/contact-us">Contact Us</a></div>
            </div>
        </div>
    </div>
    <div class="Media-links-container">
        <div class="sign-up-container">
            <h5>NEWSLETTER</h5>
            <p>officia illum eaque, explicabo corporis aliquam doloremque illo beatae.</p>
            <div class="sign-up-input-container">
                <div>
                    <input type="text">
                </div>
                <div>
                    <button>Sign Up</button>
                </div>
            </div>
        </div>
        <div class="follow-links">
            <h5>FOLLOW US</h5>
            <div class="nav-links-container">
                <a href="twitter"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="linkdin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>