<app-breadcrumb [urlArrays]="[{title:'home', url:'/'}]" [activeUrlTitle]="'Product Name'"></app-breadcrumb>
<div class="product-details-container">
    <div class="product-image-container">
        <img [src]="productDetails.image" alt="Product Image">
    </div>
    <div class="product-text-details-container">
        <h1>{{productDetails.name}}</h1>
        <div class="rating-container">
            <app-product-rating [rating]="productDetails.rating" [noReviews]="productDetails.reviews" [xPostion]="'flex-start'" [reviewWithText]="true"></app-product-rating>
        </div>

        <h2>$ {{productDetails.price}}</h2>

        <p>{{productDetails.discription}}</p>

        <div class="actions">
            @if (isProductAddedInCart) {
                <app-incr-decr-button (decrementEmt)="onDecrement(productDetails.id)" (incrementEmt)="onIncrement(productDetails.id)" [count]="productCartCount"></app-incr-decr-button>
            }
            
            <div class="add-to-cart-btn" (click)="addToCart()">
                <div class="icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="text">
                    Add To Cart
                </div>
            </div>
        </div>

        <div class="share-links-container">
            <div class="text">
                Share On
            </div>
            <div class="links">
                <a routerLink="/" class="link"><i class="fa-brands fa-facebook-f"></i></a>
                <a routerLink="/" class="link"><i class="fa-brands fa-x-twitter"></i></a>
                <a routerLink="/" class="link"><i class="fa-brands fa-linkedin"></i></a>
                <a routerLink="/" class="link"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="review-container">
        
        <app-tab>
            <app-tab-content title="Description">
                <div class="product-description">
                    <h2>Product Description</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iste inventore nihil ad odio praesentium quis provident, eius enim nisi molestias asperiores illum nulla accusantium explicabo quasi perspiciatis quam aliquam, esse eum vero. Sunt, sequi autem fugiat debitis quidem officiis pariatur eveniet soluta vero labore? Voluptatum debitis necessitatibus omnis iste.</p>
                </div>
            </app-tab-content>

            <app-tab-content title="Information">
                <div class="information">
                    <h2>Product Information</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iste inventore nihil ad odio praesentium quis provident, eius enim nisi molestias asperiores illum nulla accusantium explicabo quasi perspiciatis quam aliquam, esse eum vero. Sunt, sequi autem fugiat debitis quidem officiis pariatur eveniet soluta vero labore? Voluptatum debitis necessitatibus omnis iste.</p>
                </div>
            </app-tab-content>

            <app-tab-content title="Reviews">
                <div class="review-rating-container">
                    <div class="review-list-container">
                        <h2>1 review for "Product Name"</h2>
                        <div class="review-list">
                            <app-review-card></app-review-card>
                        </div>
                    </div>
                    <div class="review-form">
                        <h2>Leave a review</h2>
                        <p class="info">Your email address will not be published. Required fields are marked *</p>
                        <div class="form-container">
                            <app-review-form></app-review-form>
                        </div>
                    </div>
                </div>
            </app-tab-content>
        </app-tab>
    </div>
</div>

<app-section title="YOU MAY ALSO LIKE">
    <div class="list">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
</app-section>