<app-breadcrumb [urlArrays]="[{title:'home', url:'/'}]" [activeUrlTitle]="productDetails.name"></app-breadcrumb>
<div class="product-details-container">
    <div class="product-image-container">
        <img [src]="assetsPath + '/' + productDetails.img" alt="Product Image">
    </div>
    <div class="product-text-details-container">
        <h1>{{productDetails.name}}</h1>
        <div class="rating-container">
            <app-product-rating [rating]="productDetails.rating" [noReviews]="productDetails.noReviews" [xPostion]="'flex-start'" [reviewWithText]="true"></app-product-rating>
        </div>

        <h2>$ {{productDetails.price}}</h2>

        <div class="description" [innerHTML]="productDetails.description" ></div>

        <div class="actions">
            @if (isProductAddedInCart) {
                <app-incr-decr-button style="margin-right: 20px;" (decrementEmt)="onDecrement(productDetails._id)" (incrementEmt)="onIncrement(productDetails._id)" [count]="productCartCount"></app-incr-decr-button>
            }
            
            <div class="add-to-cart-btn" (click)="addToCart()">
                <div class="icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="text">
                    Add To Cart
                </div>
            </div>
        </div>

        <div class="share-links-container">
            <div class="text">
                Share On
            </div>
            <div class="links">
                <a routerLink="/" class="link"><i class="fa-brands fa-facebook-f"></i></a>
                <a routerLink="/" class="link"><i class="fa-brands fa-x-twitter"></i></a>
                <a routerLink="/" class="link"><i class="fa-brands fa-linkedin"></i></a>
                <a routerLink="/" class="link"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="review-container">
        
        <app-tab>
            <app-tab-content title="Information">
                <div class="information">
                    <h2>Product Information</h2>
                    <div [innerHTML]="productDetails.information"></div>
                </div>
            </app-tab-content>

            <app-tab-content title="Reviews">
                <div class="review-rating-container">
                    <div class="review-list-container">
                        <h2>Reviews for "{{productDetails.name}}"</h2>
                        <div class="review-list">
                            @for (review of reviewList | async; track review._id) {
                                <app-review-card [reviewModel]="review"></app-review-card>
                            }@empty {
                                No Review Available
                            }
                        </div>
                    </div>
                    <div class="review-form">
                        <h2>Leave a review</h2>
                        @if (isUserLogin) {
                            <p class="info">Your email address will not be published. Required fields are marked *</p>
                            <div class="form-container">
                                <app-review-form [productId]="productDetails._id"></app-review-form>
                            </div>
                        }@else {
                            <p style="text-align: center;margin-top: 20px;">Please Login First!</p>
                            <a class="login-btn" [routerLink]="['/', 'login']"> Login </a>
                        }
                    </div>
                </div>
            </app-tab-content>
        </app-tab>
    </div>
</div>

<app-section title="YOU MAY ALSO LIKE">
    <div class="list">
        @for (product of similarProductList | async; track product._id) {
            <app-product-card [productDetails]="product"></app-product-card>
        }
    </div>
</app-section>