$light-font-color:#6C757D;
$dark-font-color:#3D464D;
$yellow:#FFD333; 

.card{
    width: 100%;
    margin: 10px;
    background-color: #fff;

    .image-container{
        width: 100%;
        height: calc(100% - 110px);
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            transition: transform 500ms linear;
        }

        .hover-box{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0;
            transition:  opacity 500ms linear;
            display: flex;
            justify-content: center;
            align-items: center;

            .action-list{
                display: flex;

                button{
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $dark-font-color;
                    font-size: 22px;
                    cursor: pointer;
                    margin-right: 10px;
                    transition: background-color 400ms linear, color 400ms linear;

                    &:hover{
                        background-color: #000;
                        color: $yellow;
                    }
                }
            }
        }
    }

    .image-container:hover{
        img{
            transform: scale(1.2);
        }
    
        .hover-box{
            opacity: 0.7;
        }
    }

    .text-details-container{
        width: 100%;
        padding: 20px 10px;
        padding-top: 20px;

        .title{
            width: 100%;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            color: $dark-font-color;
            cursor: pointer;

            &:hover{
                color: $yellow;
            }
        }

        .price{
            margin-top: 10px;
            font-size: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .right{
                font-weight: 600;
                padding-right: 10px;
                color: $dark-font-color;
            }

            .wrong{
                font-weight: 500;
                padding-left: 10px;
                text-decoration:line-through;
                color: $light-font-color;
            }
        }

        .rating{
            margin-top: 10px;
        }
    }

}