<div class="card">
    <div class="image-container">
        <img [src]="assetsPath + '/' + productDetails.img" alt="product-image">
        <div class="hover-box">
            <div class="action-list">
                <!-- add to cart -->
                <button (click)="onAddToCart()">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
                <!-- like -->
                <button>
                    <i class="fa-regular fa-heart"></i>
                </button>
                <!-- refresh -->
                <button>
                    <i class="fa-solid fa-arrows-rotate"></i>
                </button>
                <!-- search -->
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="text-details-container">
        <h4 class="title" [routerLink]="['/','product', productDetails._id]">{{productDetails.name}}</h4>
        <div class="price">
            <div class="right">${{productDetails.price}}</div>
            <div class="wrong">${{getActualPrice(productDetails.price, productDetails.discount)}}</div>
        </div>
        <div class="rating">
            <app-product-rating [rating]="productDetails.rating" [noReviews]="productDetails.noReviews"></app-product-rating>
        </div>
    </div>
</div>