<app-breadcrumb [urlArrays]="[{title:'home', url:'/'}]" [activeUrlTitle]="'Shop List'"></app-breadcrumb>
<app-back-to-top></app-back-to-top>
<div class="container">
    <ng-container *ngIf="(productList|async) as Products">
        <div class="filter-header" [class.active]="isFilterSidebarOpened">
            <h2>Filters</h2>
            <button class="close" (click)="isFilterSidebarOpened = false">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="filter-list">
                <div class="filter">
                    <app-price-filter (onSubmitEmt)="onPriceRangeChange($event)" [min]="Products.PriceRange.minPrice" [max]="Products.PriceRange.maxPrice"></app-price-filter>
                </div>
                <div class="filter">
                    <app-rating-filter [initialRating]="rating" (onSelectEmt)="onRatingChange($event)"></app-rating-filter>
                </div>
                <div class="filter">
                    <app-filter [heading]="'Filter By Category'" [initialSelectedValues]="[category]" (onSelectEmt)="onCategorySelect($event)" [filterInputs]="mapBrandAndCategoryList(Products.category)" [isMultiLevel]="false"></app-filter>
                </div>
                <div class="filter">
                    <app-filter [heading]="'Filter By Brand'" [initialSelectedValues]="brands" (onSelectEmt)="onBrandSelect($event)" [filterInputs]="mapBrandAndCategoryList(Products.brand)" [isMultiLevel]="true"></app-filter>
                </div>
            </div>
        </div>
        <div class="products-container">
            <div class="header">
                <button (click)="isFilterSidebarOpened = true" class="filter-btn">Filters &nbsp;<i class="fa-solid fa-chevron-right"></i> </button>
                <app-toggle-menu [initialValue]="order" (onChange)="onOrderChange($event)" [optionList]="[{title:'Lowest', value:'lowest'},{title:'Highest', value:'highest'},{title:'Newest', value:'newest'}]"></app-toggle-menu>
            </div>
            
                <div class="product-list">
                    @for (product of Products.products; track product._id) {
                        <app-product-card [productDetails]="product" (addToCartEmt)="addToCart($event)"></app-product-card>
                    }@empty {
                        <p>No Product Available!!</p>
                    }
                </div>
                
                <div class="pagination-container">
                    <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="Products.page - 1" [noPages]="Products.pages"></app-pagination>
                </div>
        </div>
    </ng-container>
</div>

