<app-breadcrumb [urlArrays]="[{title:'home', url:'/'}]" [activeUrlTitle]="'Shop List'"></app-breadcrumb>
<app-back-to-top></app-back-to-top>
<div class="container">
    
    <div class="filter-header">
        <h2>Filters</h2>
        
        <div class="filter-list">
            <div class="filter">
                <app-filter [heading]="'Filter By Brand'" (onSelectEmt)="onBrandSelect($event)" [filterInputs]="brandFilterInputs" [isMultiLevel]="true"></app-filter>
            </div>
            <div class="filter">
                <app-filter [heading]="'Filter By Brand'" (onSelectEmt)="onBrandSelect($event)" [filterInputs]="brandFilterInputs" [isMultiLevel]="true"></app-filter>
            </div>
        </div>
    </div>
    <div class="products-container">
        <div class="header">
            <button class="menu-btn">Sorting</button>
            <button class="menu-btn">Showing</button>
        </div>
        <ng-container *ngIf="(productList|async) as Products">
            <div class="product-list">
                @for (product of Products.products; track product._id) {
                    <app-product-card [productDetails]="product"></app-product-card>
                }
            </div>
            
            <div class="pagination-container">
                <app-pagination></app-pagination>
            </div>
        </ng-container>
    </div>
</div>

